<div class="box-2 v2 wow fadeInUp">
  <h2 class="txt_cntr marTop7 color1">Search Results by "{{::vm.keyword}}"</h2>
</div>

<h2 class="txt_cntr marTop1">
  Celebrities
  <!-- <a ui-sref="main.celebrities({category_id: null})" ui-sref-opts="{reload: true}" class="pull-left">Back</a> -->
</h2>
<div class="container marTop2">
  <div class="row txt_cntr">
    <div class="col-sm-6 col-md-3" ng-repeat="person in vm.arr_people">
      <div class="person-wrapper">
        <a ui-sref="main.celebrity({celebrity_id: person.id})">
          <img src="uploads/celebrity/{{person.photo}}" alt="">
        </a>
        <h3><a ui-sref="main.celebrity({celebrity_id: person.id})">{{person.name}}</a></h3>
      </div>
    </div>
  </div>
</div>

<div class="hline v7"></div>
<h2 class="txt_cntr marTop2">BOOKS</h2>
<div class="container">
  <div class="row txt_cntr">
    <div class="col-sm-6 col-md-3" ng-repeat="book in vm.arr_books">
      <div class="book-wrapper">
        <a ui-sref="main.book({book_id: book.id})">
          <img src="uploads/book/{{book.cover}}">
        </a>
        <h3><a ui-sref="main.book({book_id: book.id})">{{book.title}}</a></h3>
      </div>
    </div>
  </div>
</div>