.main {
  #logo {
    height: 70px;
  }

  .box-2.v2 {
    border-radius: 15px;
  }
  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }
  .txt-desc {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
  }

  .topping {
    margin-bottom: 10px;
  }

  .topping .breadcrumber .link-parent {
    font-size : 18px;
    line-height: 20px;
  }
  .topping .breadcrumber .link-parent::after {
    content: " ≫";
    display: inline;
  }
  .topping .breadcrumber .link-main {
    font-size : 18px;
    line-height: 20px;
    color: #3d3d3c;

    &:not(:last-child)::after {
      content: ", ";
      display: inline;
    }
  }

  ul.share-buttons{
    list-style: none;
    padding: 0;
  }

  ul.share-buttons li{
    display: inline;
  }

  ul.share-buttons li img {
    width: auto !important;
  }

  ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .book-block .btn-buy img {
    margin-right: 10px;
    height: 20px;
    width: auto !important;
  }

  .btn.btn-primary {
    background-color: #241F20;
    color: white;
  }

  .sf-menu {
    margin-left: 0px;
  }

  #slider_wrap li {
    position: relative;
  }

  #slider_wrap li > img {
    position: relative;
  }
  #slider_wrap li > .caption {
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
    background-color: #2F2F2F;
  }

  .img7 {
    margin-top: 0px;
  }

  .search input {
    border: 1px solid #eee;
  }

  ul.tags li{
    float: left;
    margin-right: 10px;
    padding: 3px 15px;
    background: #CCC;

    color: white;
  }

  .book-wrapper {
    display: inline-block;
    width: 90%;
    margin-top: 20px;
    a {
      width: 100%;

      img {
        width: 100%;
      }
    }

    a:hover {
      img {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.48);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.48);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.48);
      }
    }
  }

  .person-wrapper {
    display: inline-block;
    width: 90%;
    margin-top: 20px;

    a {
      width: 100%;

      img {
        width: 100%;
      }
    }
    
    a:hover {
      img {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.48);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.48);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.48);
      }
    }
  }

  .search-wrapper {
    display: inline-block;
    max-width: 800px;
    padding: 10px 30px 0px;
  }
}